<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="konfiggy" type="KonfiggyFramework.Config.ConfigSection, KonfiggyFramework"/>
  </configSections>
  <konfiggy>
    <environmentTag value="Dev"/>
  </konfiggy>
  <appSettings>
    <!--<add key="setting" value="Common value across all environments"/>
    <add key="Local.MySetting" value="Local-environment-specific-value"/>
    <add key="Dev.MySetting" value="Dev-environment-specific-value"/>
    <add key="QA.MySetting" value="QA-environment-specific-value"/>
    <add key="Prod.MySetting" value="Prod-environment-specific-value"/>-->
    <add key="testing" value="foobar"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Local.MyConnString" connectionString="Local-environment-specific-connstring"/>
    <add name="Dev.MyConnString" connectionString="Dev-environment-specific-connstring"/>
    <add name="QA.MyConnString" connectionString="QA-environment-specific-connstring"/>
    <add name="Prod.MyConnString" connectionString="Prod-environment-specific-connstring"/>-->
    <add name="testing" connectionString="helloworld"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>